html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.imagenes{
	max-width: 100%;
	max-height: 200px;
}
.foto{
	-webkit-filter: blur(1.3px) grayscale(70%);
	-moz-filter: blur(1.3px) grayscale(70%);
	filter: blur(1.3px) grayscale(70%);
	transition:all 0.3s ease; 

}
.foto:hover{
		-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	filter: blur(0px);
}
.paddin-largo{
	padding: 1.2em;
}
.evento	{
	margin-right: 1.2em;
	max-height: 15em;
	height: 300px;

}
.rigth-space {
	margin-left: 9.75em !important;
}
#sliderscreen{
	z-index: -1000;
}